{% extends "base.html" %}
{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <h1 class="header">Task manager</h1>

    <table border="2">
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{task.content}}</td>
            <td>{{task.date_created.date()}}</td>
            <td>
                <a href="/delete/{{task.id}}">Delete</a>
                <br>
                <a href="">Update</a>
            </td>
        </tr>

        {% endfor %}
    </table>
    <p>{{errors}}</p>
    <form action="/" method="post" class="add_task"> 
        <input type="text" class="content" name="content" placeholder="Enter task here">
        <input type="submit" value="Add task">
    </form>
{% endblock %}